
@require '~vuetify/src/stylus/settings/_colors.styl'

$body-font-family := 'Lato', sans-serif

$theme := {
  primary: #bf1e2e
  accent: $deep-orange.base
  secondary: #165176
  info: $blue.base
  warning: $amber.base
  error: $red.accent-2
  success: $green.base
}


// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.logo-home-icon
    width: 30px
    height: 30px
    color: $theme.secondary

h6:not(:first-child)
    margin-top: 1.5em

.sideMenu .card
    position: fixed
    z-index: 2
.sideMenu .card ul.list div.list--group__container:last-child ul.list:last-child:after
    height: 0
