.anchor-link
  color: $theme.primary !important;
  display: block;
  font-size: .75em;
  font-weight: normal;
  position: absolute;
  right: 100%;
  top: 0;
  height: 1em;
  width: 1em;
  text-align: right;
  padding-right: 2rem;
  text-decoration: none;
  &:hover
    color: $theme.accent !important;
  &:before
    content: "\F0C3"
