.anchor-link
  border: none !important;
  color: $theme.primary !important;
  font-family: $body-font-family;
  display: block;
  font-size: .65em;
  font-weight: normal;
  position: absolute;
  right: 100%;
  top: 0;
  height: 1em;
  width: 1em;
  text-align: right;
  padding-right: 2rem;
  &:hover
    color: $theme.accent !important;
  &:before
    content: '#';