
// Bootstrap
@import "~vuetify/src/stylus/settings/_colors";

$body-font-family := 'Work Sans', sans-serif

$theme := {
  primary: #bf1e2e
  accent: $deep-orange.base
  secondary: #165176
  info: $blue.base
  warning: $amber.base
  error: $red.accent-2
  success: $green.base
}

@import "~vuetify/src/stylus/main";

h1,h2,h3,h4,h5,h6, .headline
  font-family: 'Taviraj', serif