.documentation-content
  blockquote
    border-left: 5px solid $theme.accent
    color: $theme.secondary
    margin: 2em
    font-size: 1em
    font-weight: bolder
    padding: $spacers.one.y $spacers.four.x $spacers.one.y $spacers.four.x
    p
      margin-bottom: 0
